body{
    background-color: antiquewhite;
}

.ilk {
    width: 1500px;
    height: 100%;
    border: 3px solid black;
    margin-left: 170px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: grid;
    /* justify-content: center; */
}

.header {
    width: 1494px;
    height: 500px;
    border: 3px solid black;
    background-color: darkgoldenrod;
}

.main {
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    /* padding: 3px; */
}

.main1 {
    width: 742px;
    height: 900px;
    border: 3px solid black;
    margin-top: 3px;
    background-color: darkgoldenrod;
}

.main2 {
    width: 742px;
    height: 300px;
    border: 3px solid black;
    margin-top: 3px;
    background-color: greenyellow;
}

.main2 p {
    text-align: center;
    font-family: 'Noto Sans Linear A', sans-serif;
    font-size: 25px;
}

.main3 {
    width: 742px;
    height: 300px;
    border: 3px solid black;
    margin-top: 3px;
    margin-left: 3px;
    background-color: greenyellow;
}

.main3 p {
    text-align: center;
    font-family: 'Noto Sans Linear A', sans-serif;
    font-size: 25px;
}

.main4 {
    width: 742px;
    height: 900px;
    border: 3px solid black;
    margin-top: 3px;
    margin-left: 3px;
    background-color: darkgoldenrod;
}

.footer {
    width: 1494px;
    height: 500px;
    border: 3px solid black;
    margin-top: 3px;
    background-color: greenyellow;
    font-style: italic;
}

.footer p {
    text-align: center;
    font-family: 'Noto Sans Linear A', sans-serif;
    font-size: 35px;
}